<div class="container">
    <div class="genre-container"  *ngFor="let genreList of movieList">
        <label>{{genreList.name}}</label>
        <div class="card-container">
            <mat-card class="example-card"  *ngFor="let genre of genreList.genreMovieList">
                <mat-card-header (click)="redirectToDetailScreen(genre)">
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{genre.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image (click)="redirectToDetailScreen(genre)"
                src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              </mat-card>
        </div>
    </div>
</div>
