.container{
    display:flex;
    flex-direction:column;
    width:100%;
    
}
label{
    font-size:24px;
    color:red;
    padding: 20px 0;
}
.genre-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.card-container{
    width:98%;
    overflow-x:auto;
    overflow-y: hidden;
    display: flex;
}
.example-card{
    margin: 0 20px;
    height: 300px;
    background: antiquewhite;
    width: 300px;
    min-width: 300px;
}