<div class="card-container">
    <!-- <img class="covor-image" src="{{}}" alt=""> -->
    <div>
        <span (click)="redirectToMovieList()">Movie List</span> > 

    </div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <img mat-card-image class="align-image"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
</div>